<div class="container">
    <h1>Register</h1>
    <form [formGroup]="myForm" novalidate >
        <div class="form-group">
            <label>Username</label>
            <input type="text" class="form-control" [formControl]="username">
            <div [hidden]="username.valid || username.untouched">
                The following problems have been found with the username:
                <div [hidden]="!username.hasError('minlength')">
                    Username can not be shorter than 3 characters.
                </div>
                <div [hidden]="!username.hasError('required')">
                    Username is required.
                </div>
            </div>
        </div>
        <div class="form-group">
            <label>Email</label>
            <input type="text" class="form-control" [formControl]="email">
             <div [hidden]="email.valid || email.untouched">
                The following problems have been found with the username:
                <div [hidden]="!email.hasError('minlength')">
                    Email can not be shorter than 3 characters.
                </div>
                <div [hidden]="!email.hasError('required')">
                    email is required.
                </div>
                 <div [hidden]="!email.hasError('emailError')">
                    email is not valid format.
                </div>
            </div>
        </div>
        <button type="submit" [disabled]="!myForm.valid" class="btn btn-default">Submit</button>
    </form>
    <div>{{myForm.valid | json}}</div>
    <div>{{myForm.value | json}}</div>
</div>